<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.pj.sys.dao.SysAccountDao">
	<select id="findPageObjects" resultType="com.gy.pj.sys.entity.SysAccount">
		select * from gym_Account
		<include refid="queryWhereId" />
		order by id
	</select>
	<select id="getRowCount" resultType="int">
		select count(*) from gym_Account
		<include refid="queryWhereId" />
	</select>
	<sql id="queryWhereId">
		<where>
			<if test="name!=null and name!=''">
				name like concat("%",#{name},"%")
			</if>
		</where>
	</sql>
	<delete id="deleteObjects">
		delete from gym_Account where id in
		<foreach collection="ids" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</delete>
	<!-- 添加 -->
	<insert id="insertObject">
         insert into gym_Account (id,account,pass,name,phoneNumber,email) 
         values(null,#{account},#{pass},#{name},#{phoneNumber},#{email})
    </insert>
    <!-- 修改 -->
	<update id="updateObject">
       update gym_Account
       set account=#{account},pass=#{pass},name=#{name},phoneNumber=#{phoneNumber},email=#{email} 
       where id=#{id}
   </update>
	
	<select id="findById" resultType="com.gy.pj.sys.entity.SysAccount">
		select * from gym_Account
		where id=#{id}
	</select>
</mapper>