<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="renderer" content="webkit" />
		<meta name="applicable-device" content="pc">
		<base target="_blank" />
		<title>优质教练  </title>
		<script src="http://cdn.tmooc.cn/tmooc-web/js/jquery-2.1.1.js"></script>
		<link rel="stylesheet" href="../css/Coach.css" />
	</head>
	<body>
		<div class="o-hiyd">
			<!-- <div class="o-header2">
				<div class="o-header2_inner">
					<a href="./HomePage.html" class="o-header_logo">
						<img src="../img/Logo.PNG" />
					</a>
					<div class="o-header2-nav">
						<div data-hicms-tmpl="hiyd-nav">
							<div>
								<a href="./FitnessClass.html" target='_self' class="item">特色课程</a>
								<a href="./Coach.html" target='_self' class="item">优质教练</a>
								<a href="./FoodPage.html" target='_self' class="item">健身饮食</a>
								<a href="./EquipmentPage.html" target='_self' class="item">健身器材</a>
								<a href="./CommentsPage.html" target='_self' class="item">社区精选</a>
								<a href="./huodong.html" target='_self' class="item">近期活动</a>
								
								
								<a href="../UserPage/FitnessClass.html" target='_self' class="item">特色课程</a>
								<a href="http://www.baidu.com" target='_self' class="item">健身视频</a>
								<a href="../UserPage/Coach.html" target='_self' class="item">优质教练</a>
								<a href="../UserPage/FoodPage.html" target='_self' class="item">健身饮食</a>
								<a href="../UserPage/EquipmentPage.html" target='_self' class="item">健身器材</a>
								<a href="../UserPage/CommentsPage.html" target='_self' class="item">社区精选</a>
								<a href="../UserPage/huodong.html" target='_self' class="item">近期活动</a>
								<a href="http://www.baidu.com" target='_self' class="item item-dl">关于我们</a>
							</div>
						</div>
						<div class="item-group">
							<span id="btn_ouj_login">
								<a id="login" href="./LoginPage.html" 

target='_self' class="loading" style="display:blcok">登录</a>
							</span>
							<span id="btn_ouj_register">
								<a id="register" href="./SignPage.html" 

target='_self' class="login" style="display:blcok">注册</a>
							</span>
							
							
								<a href="./Personer-Accou.html" 

target='_self' class="login" id="user" style="display:none">name</a>
							
						</div>
					</div>
					<div class="o-header_ctrl">
					</div>
				</div>
			</div> -->
			<div th:replace="~{topPage :: topbar}"></div> 
			<div class="page-con">  
    <div class="clum-bannerbox-xxw" id="js_control_carousel">
    </div>
    
    <div class="container">
        <div class=" md2018040802-xxw clearfix" id="coachInfo">
            <ul class="hidden-xxw0412 md-bd clearfix md-2018040201-lty">

                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce2.html">
                            <img data-original="../img/coach1.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce2.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                              <!--   <span class="sign-num pull-right color-888">1,155人购买</span> -->
                        </div>
                    </div>
                </li>
                
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach2.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach16.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach4.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach5.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
            </ul>
            
            
            <ul class="hidden-xxw0412 md-bd clearfix md-2018040201-lty">
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach6.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach7.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach3.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach9.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach10.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
            </ul>
            
            
            <ul class="hidden-xxw0412 md-bd clearfix md-2018040201-lty">
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach11.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach12.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach13.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach14.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
                
                <li class="pic-box pull-left ">
                    <div class="hd-pic">
                        <a target="_blank" href="./Coach-Introduce.html">
                            <img data-original="../img/coach15.jpg" class="lazy"/>
                            <i class="state"></i>
                        </a>
                    </div>
                    <div class="bd-word bgcolor-fff">
                        <h4 class="bd-tit">
                            <a target="_blank" href="./Coach-Introduce.html" class="color-333">达内在线商业插画2030期-21班</a>
                        </h4>
                        <div class="clearfix">
                            <span class="price pull-left">￥ 9,800</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
       
    </div>
</div>

			<!--底部的展示-->
			<div class="o-hiyd-footer">
				<div class="o-footer-row">
					<a class="footer-nav-link" href="https://www.11467.com/qiye/35839987.htm" target='_blank'>关于偶家</a>|
					<span>Copyright (C) 2019 www.hiyd.com 版权所有 广州市偶家科技有限公司</span>
				</div>
				<div class="o-footer-row">
					<span>粤网文（2015）1655-286号</span> | <span>粤ICP备15035085号-3</span>
				</div>
			</div>
		</div>
		<script src="http://cdn.tmooc.cn/tmooc-web/js/jquery.lazyload.min.js"></script>
		<script src="http://cdn.tmooc.cn/tmooc-web/js/jquery.SuperSlide.2.1.2.js"></script>
		<script src="http://cdn.tmooc.cn/tmooc-web/js/paginator.js"></script>
		<script src="http://cdn.tmooc.cn/tmooc-web/js/colorbox/jquery.colorbox-min.js"></script>
		<script src="http://cdn.tmooc.cn/tmooc-web/js/layer/layer.js"></script>
		<script src="http://cdn.tmooc.cn/tmooc-web/js/app.js"></script>
		<script>
			$(function() {
				$("#js_control_carousel").slide({ mainCell: ".bd ul", autoPlay: true, effect: 'left' })
				$('.md2018040802-xxw>ul:lt(4)').removeClass('hidden-xxw0412');

				function loadUl(i) {
					var $len = $('.md2018040802-xxw>ul:gt(' + i + ')').length;
					if($len > 1) {
						if($len > 4) {
							$('.md2018040802-xxw>ul:lt(' + (i + 5) + ')').removeClass('hidden-xxw0412');
						} else {
							$('.md2018040802-xxw>ul').removeClass('hidden-xxw0412');
						}
					} else {
						layer.confirm('去课程库查看更多课程？', {
							title: '提示',
							btn: ['确定', '取消'] //按钮
						}, function() {
							location.href = 'http://www.tmooc.cn/search/index.shtml'
						});

					}
				}
				$('#load_more_xxw').click(function() {
					loadUl($('.md2018040802-xxw>ul:visible').last().index());
				});
				$("img.lazy").lazyload({ effect: "fadeIn" });
			});
		</script>
		
		<script>	
			$(function() {
				
				doGetObjects();
				
			});
			
			function doGetObjects() {
				debugger
				var pageCurrent = 1;
				var params = {"pageCurrent" : pageCurrent};
				var url = "Coach/doFindPageObjects";
				$.getJSON(url, params, function(result) {
					doSetResult(result);
				});
			}
			function doSetResult(result) {
				debugger
				var Ohs = document.getElementById("coachInfo");
				var text = Ohs.getElementsByTagName('h4');
				for (var i = 0; i < 15; i++) {
					text[i].innerText = result.data.records[i].name;
				}
				var text2 = Ohs.getElementsByTagName('span');
				for (var i = 0; i < 15; i++) {
					text2[i].innerText = result.data.records[i].tecDirection;
				}

			}
		</script>
	</body>

</html>