
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
<meta name="applicable-device" content="pc">
<meta name="mobile-agent"
	content="format=html5;url=http://m.hiyd.com/detail-jirouzhengluo.html" />
<link rel="alternate" media="only screen and (max-width: 640px)"
	href="http://m.hiyd.com/detail-jirouzhengluo.html">
<title>鸡肉蒸螺热量，鸡肉蒸螺卡路里，鸡肉蒸螺吃多少- Hi运动食品库</title>
<meta name="keywords" content="鸡肉蒸螺热量，鸡肉蒸螺卡路里，鸡肉蒸螺营养素，鸡肉蒸螺维生素，鸡肉蒸螺矿物质 ">
<meta name="description"
	content="鸡肉蒸螺  热量：137千卡，减肥人群-严禁食用，提示：此类菜肴通常较为清淡热量较低，减肥期间只需除去明显的脂肪、油脂即可食用。
        ">
<link href="/static/css/food.css" rel="stylesheet">
<script src="/static/js/echarts.js"></script>
<script src="/static/jsseajs.utils.js"></script>
</head>
<body>
	<div class="o-hiyd">
		<!-- 		<script>
SITE_URL = "/";
</script> -->
		<!-- <div class="o-header2">
			<div class="o-header2_inner">
				<a href="https://www.hiyd.com/" class="o-header_logo"> <img
					src="/static/img/logo3.png?218f9b39b0457ae3" />
				</a>

			</div>
		</div> -->
		<div th:replace="~{topPage :: topbar}"></div> 

		<!-- <div class="o-hiyd-header">
	hi运动头部
</div> -->
		<div class="o-food">

			<div class="o-food-details">

				<!-- }面包屑导航 -->
				<div class="details-main">
					<div class="info-base">
						<div class="box-bd">
							<div class="img-wrap">
								<img
									src="https://w2.dwstatic.com/yy/ojiastoreimage/72d5ca5ac18cd634be9dc85d486602ec.jpg?imageview/format/webp"
									alt="鸡肉蒸螺">
							</div>
							<h1>
								<em>鸡肉蒸螺</em> 每100g营养
							</h1>
							<ul>
								<li>
									<p>
										<em>137</em>千卡
									</p> 热量
								</li>
								<li>
									<p>
										<em>17.62</em>g
									</p> 蛋白质
								</li>
								<li>
									<p>
										<em>6.46</em>g
									</p> 碳水化合物
								</li>
								<li>
									<p>
										<em>4.69</em>g
									</p> 脂肪
								</li>
							</ul>
							<p class="apply-people">
								减肥人群：<em>严禁食用</em>
							</p>
						</div>
						<div class="box-ft">
							<p class="tip">提示：此类菜肴通常较为清淡热量较低，减肥期间只需除去明显的脂肪、油脂即可食用。</p>
						</div>
					</div>
					<div class="info-analysis">
						<div class="box-hd">
							<h3>热量分解</h3>
							<h3>食用分量</h3>
						</div>
						<div class="box-bd">
							<div class="bd-col bd-col1">
								<div class="chart-wrap">
									<div id="foodChart" class="chart"></div>
									<!--<em class="info_carbohydrate">(22.45%)</em>
                                    <em class="info_fat">(16.3%)</em>
                                    <em class="info_protein">(61.24%)</em>-->
								</div>
							</div>
							<div class="bd-col bd-col2">
								<ul>
									<li class="bd-title">
										<p class="pull-left">度量单位</p>
										<p class="pull-right">热量</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="info-nurt">
						<div class="box-hd">
							<h3>营养信息</h3>
						</div>
						<div class="box-bd">
							<div id="nutr-info" class="nurt-list close">
								<ul>
									<li class="list-hd">营养素<em class="pull-right">含量（每100克）</em></li>
									<li>热量(大卡)<em class="pull-right">136.70</em></li>
									<li>脂肪(克)<em class="pull-right">4.69</em></li>
									<li>碳水化合物(克)<em class="pull-right">6.46</em></li>
									<li>蛋白质(克)<em class="pull-right">17.62</em></li>
									<li>胆固醇(毫克)<em class="pull-right">一</em></li>
									<li class="list-hd">维生素<em class="pull-right">含量（每100克）</em></li>
									<li>纤维素(克)<em class="pull-right">0.50</em></li>
									<li>维生素A(微克)<em class="pull-right">一</em></li>
									<li>维生素C(毫克)<em class="pull-right">一</em></li>
									<li>维生素E(毫克)<em class="pull-right">一</em></li>
									<li>胡萝卜素(微克)<em class="pull-right">一</em></li>
									<li>硫胺素(毫克)<em class="pull-right">一</em></li>
									<li>核黄素(毫克)<em class="pull-right">一</em></li>
									<li>烟酸(毫克)<em class="pull-right">一</em></li>
									<!--                                                                                                                                                        </ul>
                                        <ul class="no-margin">
                                        <li class="list-hd">矿物质<em class="pull-right">含量（每100克）</em></li>
                                                                                        <li>镁(毫克)<em class="pull-right">一</em></li>
                                                                                        <li>钙(毫克)<em class="pull-right">一</em></li>
                                                                                        <li>铁(毫克)<em class="pull-right">一</em></li>
                                                                                        <li>锌(毫克)<em class="pull-right">一</em></li>
                                                                                        <li>铜(毫克)<em class="pull-right">一</em></li>
                                                                                        <li>锰(毫克)<em class="pull-right">一</em></li>
                                                                                        <li>钾(毫克)<em class="pull-right">一</em></li>
                                                                                        <li>磷(毫克)<em class="pull-right">一</em></li>
                                                                                        <li>钠(毫克)<em class="pull-right">一</em></li>
                                                                                        <li>硒(微克)<em class="pull-right">一</em></li>
                                                                                                                                                </ul> -->
							</div>
							<a class="btn-nutr pull-right" href="javascript:;">详细>></a>
						</div>
					</div>

					<!--     <div class="box-tool">
        <div class="box-hd">
            <h2>饮食计算器</h2>
        </div>
        <div class="box-bd">
            <div class="intro">
                <p>三分练，七分吃。在合理训练的前提下，吃的科学才能保证身体朝着自己希望的方向发展。</p>
                <p>我们根据您填写的身体情况、训练的方向和设定的目标，算出您每天需要摄入的各类食物量。我们提供了多重食物的搭配组合，满足各种口味需求。</p>
                <p>食物摄入量的数值是个基础参考，大家请根据自身实际情况来微调。</p>
            </div>
            <h3>请输入您的信息以及目标</h3>
            <form action="#" id="toolsForm" name="toolsForm">   
                <div class="row">
                    <p class="form-info">
                        <label for="eat_time">性别：</label>
                        <label>
                            <input name="sex" type="radio" value="1" checked="checked">男
                        </label>
                        <label>
                            <input name="sex" type="radio" value="2">女
                        </label>
                    </p>
                    <p class="form-info pd-left">
                        <label for="age">年龄：</label>
                        <input class="form-text" name="age" type="text">岁
                    </p>
                </div>   
                <div class="row">
                    <p class="form-info">
                        <label for="height">身高：</label>
                        <input class="form-text" name="height" type="text">cm
                    </p>
                    <p class="form-info pd-left">
                        <label for="weight">体重：</label>
                        <input class="form-text" name="weight" type="text">kg
                    </p>
                </div>
                <p id="bmiTips" class="bmiTips"></p>
                <p class="form-info">
                    <label for="target">目标：</label>
                    <label class="mg-right">
                        <input name="target" type="radio" value="1" checked="checked">增肌
                    </label>
                    <label class="mg-right">
                        <input name="target" type="radio" value="2">减肥
                    </label>
                    <label class="mg-right">
                        <input name="target" type="radio" value="3">塑形
                    </label>
                </p>
                <p class="form-info">
                    <label for="target_weight">阶段目标体重：</label>
                    <input class="form-text mg-top" name="target_weight" type="text">kg
                </p>
                <h3>活动系数</h3>
                <p class="form-info">
                    <select class="mg-top" name="factor">
                        <option value="1.2">1.2 久坐的工作方式</option>
                        <option value="1.4">1.4 工作时有时走动或者站立</option>
                        <option value="1.6">1.6 工作中经常走动或者站立</option>
                        <option value="1.8">1.8 工作中有较多的体力劳动</option>
                        <option value="2.0">2.0 工作中有很大的体力劳动</option>
                    </select>
                </p>
                <a class="submit submit-bt">计算</a>
            </form> 
        </div>
    </div> -->
				</div>
			</div>
		</div>
		<!-- 全民健身{ -->
		<!-- }全民健身 -->
</body>
</html>