<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">

	<head>
		<!-- Site Title-->
		<title>金吉鸟健身资讯 - 金吉鸟健身连锁</title>
		<meta name="keywords" content="健身资讯,金吉鸟健身,健身计划,金吉鸟健身俱乐部,私人教练培训,游泳私人教练,健身房,健身房减肥计划">
		<meta name="description" content="这里有金吉鸟人的一天，有热点聚焦，有健身TIPS,有金吉鸟时刻，在这里你可以全面、系统的了解金吉鸟的每一分钟。选择金吉鸟，选择健康的未来！">
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="intense web design multipurpose template">
		<meta name="date" content="Dec 26">
		<link rel="icon" href="/themes/simplebootx/Public/static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/themes/simplebootx/Public/static/css/style.css">
		<link rel="stylesheet" href="/themes/simplebootx/Public/static/css/font-awesome.css">
		<link rel="stylesheet" href="/themes/simplebootx/Public/static/css/font-awesome.min.css">
		<!--[if lt IE 10]> <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="/themes/simplebootx/Public/static/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div> <script src="/themes/simplebootx/Public/static/js/html5shiv.min.js"></script> <![endif]-->
	</head>

	<body>
		<!-- Page-->
		<div class="page text-center">
			<!-- Page Head-->
			<header class="page-head slider-menu-position">
				<!-- RD Navbar Transparent-->
				<div class="rd-navbar-wrap">
					<nav class="rd-navbar container rd-navbar-floated rd-navbar-dark" data-lg-stick-up="true">
						<div class="rd-navbar-inner">
							<!-- RD Navbar Top Panel-->
							<!--<div class="rd-navbar-top-panel context-dark bg-danger"></div>-->
							<!-- RD Navbar Panel -->
							<div class="rd-navbar-panel">
								<!-- RD Navbar Toggle--><button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"> <span></span> </button>
								<!-- RD Navbar Top Panel Toggle-->
								<!--<button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"> <span></span> </button>-->
								<!--Navbar Brand-->
								<div class="rd-navbar-brand">
									<a href="index.html"> <img width='80' height='80' src='/themes/simplebootx/Public/static/images/logo.png' alt='' /> </a>
								</div>
							</div>
							<div class="rd-navbar-menu-wrap">
								<div class="rd-navbar-nav-wrap">
									<div class="rd-navbar-mobile-scroll">
										<!--Navbar Brand Mobile-->
										<div class="rd-navbar-mobile-brand">
											<a href="index.html"> <img width='80' height='80' src='/themes/simplebootx/Public/static/images/logo.png' alt='' /> </a>
										</div>
										<div class="form-search-wrap">
											<!-- RD Search Form-->
											<form action="/index.php?g=&m=Stores&a=index" method="GET" class="form-search rd-search">
												<div class="form-group"> <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search</label> <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm" /> </div> <button type="submit" class="form-search-submit"> <span class="mdi mdi-magnify"></span> </button> </form>
										</div>
										<!-- RD Navbar Nav-->
										<ul class="rd-navbar-nav">
											<li>
												<a href="/index/index"> <span>首页</span> </a>
											</li>
											<li>
												<a href="/brand/index"> <span>关于我们</span> </a>
											</li>
											<li class="active">
												<a href="/news/index"> <span>新闻中心</span> </a>
											</li>
											<li>
												<a href="/stores/index"> <span>门店信息</span> </a>
											</li>
											<li>
												<a href="/pertraining/index"> <span>明星教练</span> </a>
											</li>
											<li>
												<a href="/groupoperating/index"> <span>课程介绍</span> </a>
											</li>
											<li>
												<a href="/yoga/index"> <span>金吉鸟大学</span> </a>
											</li>
											<li>
												<a href="/contacts/index"> <span>招贤纳士</span> </a>
											</li>
											<li>
												<a href="https://www.jinjiniao.com/down/index.html"> <span>APP下载</span> </a>
											</li>
										</ul>
									</div>
								</div>
								<!--RD Navbar Search-->
								<div class="rd-navbar-search rd-navbar-search-top-panel" style="display: none">
									<a data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"> <span></span> </a>
									<form action="/stores/index" method="post" class="rd-navbar-search-form search-form-icon-right rd-search">
										<div class="form-group"> <label for="rd-navbar-search-form-input" class="form-label">输入门店名查询课表</label> <input id="rd-navbar-search-form-input" type="text" name="storename" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest" /> </div>
									</form>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</header>
			<!-- Page Contents-->
			<main class="page-content">
				<div class="banner">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<!--<div class="swiper-slide"> <a class="index_slide" style="background-image:url('/themes/simplebootx/Public/static/images/background-01-1920x750.jpg')" href="#" title="banner1"></a> </div>--->
							<div class="swiper-slide">
								<a class="index_slide" style="background-image:url('/themes/simplebootx/Public/static/images/news_b1.jpg')" href="#" title="banner1"></a>
							</div>
							<div class="swiper-slide">
								<a class="index_slide" style="background-image:url('/themes/simplebootx/Public/static/images/news_b2.jpg')" href="#" title="banner1"></a>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
				<!-- Latest Blog Posts-->
				<section class="section-50 bg-lilac">
					<div class="shell">
						<div class="range range-xs-left">
							<div class="cell-sm-10 cell-md-4 offset-top-66 offset-sm-top-30" style="padding: 0 10px;">
								<!-- Post Boxed-->
								<a href="/news/newsshow/id/643" class="reveal-block">
									<div class="post post-boxed">
										<!-- Post media-->
										<header class="post-media"> <img width="570" height="321" src="/data/upload/portal/20190813/5d5259252248f.jpg" alt="" class="img-responsive" /> </header>
										<!-- Post content-->
										<section class="post-content text-left">
											<div class="post-body">
												<!-- Post Title-->
												<div class="post-title">
													<h4>为什么女生双腿合不拢_O型腿是什么原因_应该怎么办？</h4> </div>
												<div class="post-meta small">
													<ul class="list-inline list-inline-sm p">
														<li class="text-italic text-middle">by&nbsp;
															<span class="text-neon-carrot">金吉鸟健身连锁</span> </li>
														<li> <span class="text-middle icon-xxs mdi mdi-clock"></span> <time datetime="2019-08-13" class="text-italic text-middle text-neon-carrot">2019-08-13</time> </li>
													</ul>
												</div>
											</div>
										</section>
									</div>
								</a>
							</div>
							<div class="cell-sm-10 cell-md-4 offset-top-66 offset-sm-top-30" style="padding: 0 10px;">
								<!-- Post Boxed-->
								<a href="/news/newsshow/id/641" class="reveal-block">
									<div class="post post-boxed">
										<!-- Post media-->
										<header class="post-media"> <img width="570" height="321" src="/data/upload/portal/20190813/5d525321496df.jpg" alt="" class="img-responsive" /> </header>
										<!-- Post content-->
										<section class="post-content text-left">
											<div class="post-body">
												<!-- Post Title-->
												<div class="post-title">
													<h4>为什么体重降不下来减肥没效果，这10个新陈代谢变缓慢的症状了解下！</h4> </div>
												<div class="post-meta small">
													<ul class="list-inline list-inline-sm p">
														<li class="text-italic text-middle">by&nbsp;
															<span class="text-neon-carrot">金吉鸟健身连锁</span> </li>
														<li> <span class="text-middle icon-xxs mdi mdi-clock"></span> <time datetime="2019-08-13" class="text-italic text-middle text-neon-carrot">2019-08-13</time> </li>
													</ul>
												</div>
											</div>
										</section>
									</div>
								</a>
							</div>
							<div class="cell-sm-10 cell-md-4 offset-top-66 offset-sm-top-30" style="padding: 0 10px;">
								<!-- Post Boxed-->
								<a href="/news/newsshow/id/642" class="reveal-block">
									<div class="post post-boxed">
										<!-- Post media-->
										<header class="post-media"> <img width="570" height="321" src="/data/upload/portal/20190813/5d52567cd1266.jpg" alt="" class="img-responsive" /> </header>
										<!-- Post content-->
										<section class="post-content text-left">
											<div class="post-body">
												<!-- Post Title-->
												<div class="post-title">
													<h4>金吉鸟大学瑜伽学院肩颈脊柱理疗瑜伽</h4> </div>
												<div class="post-meta small">
													<ul class="list-inline list-inline-sm p">
														<li class="text-italic text-middle">by&nbsp;
															<span class="text-neon-carrot">金吉鸟健身连锁</span> </li>
														<li> <span class="text-middle icon-xxs mdi mdi-clock"></span> <time datetime="2019-08-13" class="text-italic text-middle text-neon-carrot">2019-08-13</time> </li>
													</ul>
												</div>
											</div>
										</section>
									</div>
								</a>
							</div>
							<div class="cell-sm-10 cell-md-4 offset-top-66 offset-sm-top-30" style="padding: 0 10px;">
								<!-- Post Boxed-->
								<a href="/news/newsshow/id/640" class="reveal-block">
									<div class="post post-boxed">
										<!-- Post media-->
										<header class="post-media"> <img width="570" height="321" src="/data/upload/portal/20190812/5d50cd52119f1.jpg" alt="" class="img-responsive" /> </header>
										<!-- Post content-->
										<section class="post-content text-left">
											<div class="post-body">
												<!-- Post Title-->
												<div class="post-title">
													<h4>拉伸对身体有什么好处？</h4> </div>
												<div class="post-meta small">
													<ul class="list-inline list-inline-sm p">
														<li class="text-italic text-middle">by&nbsp;
															<span class="text-neon-carrot">金吉鸟</span> </li>
														<li> <span class="text-middle icon-xxs mdi mdi-clock"></span> <time datetime="2019-08-12" class="text-italic text-middle text-neon-carrot">2019-08-12</time> </li>
													</ul>
												</div>
											</div>
										</section>
									</div>
								</a>
							</div>
							<div class="cell-sm-10 cell-md-4 offset-top-66 offset-sm-top-30" style="padding: 0 10px;">
								<!-- Post Boxed-->
								<a href="/news/newsshow/id/639" class="reveal-block">
									<div class="post post-boxed">
										<!-- Post media-->
										<header class="post-media"> <img width="570" height="321" src="/data/upload/portal/20190812/5d50cbc6608f6.jpg" alt="" class="img-responsive" /> </header>
										<!-- Post content-->
										<section class="post-content text-left">
											<div class="post-body">
												<!-- Post Title-->
												<div class="post-title">
													<h4>流汗等于燃烧脂肪吗？流汗可以减肥吗</h4> </div>
												<div class="post-meta small">
													<ul class="list-inline list-inline-sm p">
														<li class="text-italic text-middle">by&nbsp;
															<span class="text-neon-carrot">金吉鸟健身连锁</span> </li>
														<li> <span class="text-middle icon-xxs mdi mdi-clock"></span> <time datetime="2019-08-12" class="text-italic text-middle text-neon-carrot">2019-08-12</time> </li>
													</ul>
												</div>
											</div>
										</section>
									</div>
								</a>
							</div>
							<div class="cell-sm-10 cell-md-4 offset-top-66 offset-sm-top-30" style="padding: 0 10px;">
								<!-- Post Boxed-->
								<a href="/news/newsshow/id/638" class="reveal-block">
									<div class="post post-boxed">
										<!-- Post media-->
										<header class="post-media"> <img width="570" height="321" src="/data/upload/portal/20190812/5d50c9c5cc8cd.jpg" alt="" class="img-responsive" /> </header>
										<!-- Post content-->
										<section class="post-content text-left">
											<div class="post-body">
												<!-- Post Title-->
												<div class="post-title">
													<h4>4组背部动作图解，帮你塑造完美倒三角！</h4> </div>
												<div class="post-meta small">
													<ul class="list-inline list-inline-sm p">
														<li class="text-italic text-middle">by&nbsp;
															<span class="text-neon-carrot">金吉鸟健身连锁</span> </li>
														<li> <span class="text-middle icon-xxs mdi mdi-clock"></span> <time datetime="2019-08-12" class="text-italic text-middle text-neon-carrot">2019-08-12</time> </li>
													</ul>
												</div>
											</div>
										</section>
									</div>
								</a>
							</div>
						</div>
						<div class="offset-top-30">
							<!-- Bootstrap Pagination-->
							<nav>
								<ul class="pagination pagination-sm">
									<li>
										<a href="/portal/news/index/p/1" aria-label="Previous"><span aria-hidden="true" class="mdi mdi-chevron-double-left"></span></a>
									</li>
									<li class="active current">
										<a href="/portal/news/index/p/1" class="current"> 1</a>
									</li>
									<li>
										<a href="/portal/news/index/p/2"> 2</a>
									</li>
									<li>
										<a href="/portal/news/index/p/3"> 3</a>
									</li>
									<li>
										<a href="/portal/news/index/p/4"> 4</a>
									</li>
									<li>
										<a href="/portal/news/index/p/5"> 5</a>
									</li>
									<li>
										<a href="/portal/news/index/p/6"> 6</a>
									</li>
									<li>
										<a href="/portal/news/index/p/94" aria-label="Next"><span aria-hidden="true" class="mdi mdi-chevron-double-right"></span></a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</section>
			</main>
			<!-- Page Footer-->
			<footer class="section-relative section-top-34 section-bottom-0 page-footer bg-gray-base context-dark">
				<div class="shell">
					<div class="range range-sm-center text-lg-left">
						<div class="cell-sm-12">
							<div class="range range-xs-center">
								<div class="cell-xs-10 cell-sm-3 offset-top-66 cell-sm-push-3 cell-sm-10 cell-lg-2 offset-lg-top-0 cell-lg-push-3">
									<!-- Twitter Feed-->
									<div class="offset-top-20">
										<div class="footer-brand">
											<a href="index.html"> <img width='120' src='/themes/simplebootx/Public/static/images/weixin.jpg' alt='' /> </a>
										</div>
									</div>
									<p class="text-uppercase text-spacing-60 text-bold text-center text-lg-left">官方微信</p>
								</div>
								<div class="cell-xs-10 cell-sm-3 offset-top-66 cell-sm-push-3 cell-sm-10 cell-lg-2 offset-lg-top-0 cell-lg-push-3">
									<!-- Flickr Feed-->
									<div class="offset-top-20">
										<div data-photo-swipe="gallery" data-flickr-tags="tm58888_landscapes" class="group-xs flickr widget-flickrfeed">
											<a href="index.html"> <img width='120' src='/themes/simplebootx/Public/static/images/APP.jpg' alt='' /> </a>
										</div>
									</div>
									<p class="text-uppercase text-spacing-60 text-bold">APP下载</p>
								</div>
								<div class="cell-xs-10 cell-sm-3 offset-top-66 cell-sm-push-2 offset-sm-top-0 cell-sm-6 cell-lg-3 cell-lg-push-4">
									<div class="inset-lg-left-20">
										<p class="text-uppercase text-spacing-60 text-bold">联系我们</p>
										<p class="offset-top-10 text-left icon fa fa-phone"> : 025-83518366 </p>
										</br>
										<p class="offset-top-10 text-left icon fa fa-envelope-open-o"> : luckybird_brand@sina.com</p>
										</br>
										<div class="offset-top-30">
											<form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform">
												<div class="form-group"> </div>
												<div id="form-subscribe-footer" class="form-output"></div>
											</form>
										</div>
									</div>
								</div>
								<div class="cell-xs-10 cell-sm-3 offset-top-66 cell-sm-push-1 offset-sm-top-0 cell-sm-6 cell-lg-4 cell-lg-push-1">
									<!-- Footer brand-->
									<div class="footer-brand" style="text-align: center; margin-top: 16px;">
										<a href="index.html"> <img width='120' height='120' src='/themes/simplebootx/Public/static/images/logo.png' alt='' /> </a>
									</div>
									<div class="offset-top-50 text-xs-center text-lg-center" style="margin-top: 20px;">
										<ul class="list-inline">
											<li>
												<a href="#" class="icon fa fa-weixin icon-xxs icon-circle icon-darkest-filled"></a>
											</li>
											<li>
												<a href="#" class="icon fa fa-qq icon-xxs icon-circle icon-darkest-filled"></a>
											</li>
											<li>
												<a href="#" class="icon fa fa-weibo icon-xxs icon-circle icon-darkest-filled"></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<p class="text-darker text-center offset-top-20">Copyright ©
								<span id="copyright-year"></span>
								<a href="#">Jinjiniao.com</a> All Rights Reserved .备案号：苏ICP备16062398号
								<!-- {%FOOTER_LINK}-->
							</p>
						</div>
					</div>
				</div>
			</footer>
			<script>
				var _hmt = _hmt || [];
				(function() {
					var hm = document.createElement("script");
					hm.src = "https://hm.baidu.com/hm.js?a5f0a11b854d014a98977ef4c6be61d8";
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(hm, s);
				})();
			</script>
			<div style="display: none">
				<script type="text/javascript">
					var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
					document.write(unescape("%3Cspan id='cnzz_stat_icon_1273198457'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1273198457%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
				</script>
			</div>
		</div>
		<!-- Global Mailform Output-->
		<div id="form-output-global" class="snackbars"></div>
		<!-- PhotoSwipe Gallery-->
		<!-- Java script-->
		<script src="/themes/simplebootx/Public/static/js/core.min.js"></script>
		<script src="/themes/simplebootx/Public/static/js/script.js"></script>
		<!--banner-->
		<script>
			var mySwiper = new Swiper('.swiper-container', {
				autoplay: 5000, //可选选项，自动滑动
				speed: 1000,
				loop: true,
				pagination: '.swiper-pagination'
			})
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?e3f7d6d04b1f7b51e04135055ebb725e";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</body>

</html>