<!DOCTYPE html>
<html class="x-admin-sm">
<head>
<meta charset="UTF-8">
<title>欢迎页面-X-admin2.2</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="stylesheet" href="./css/font.css">
<link rel="stylesheet" href="./css/xadmin.css">
<script src="./lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
<script src="js/jquery.min.js"></script>
<!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">仓库管理</a>
			<a> <cite>商品库存状态 </cite></a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			onclick="location.reload()" title="刷新"> <i
			class="layui-icon layui-icon-refresh" style="line-height: 30px"></i></a>
	</div>
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header" id="header" value="9">
						<button class="layui-btn layui-btn-danger" lay-filter="danger"
							id="danger" value="0">显示需要补货商品</button>
						<button class="layui-btn layui-btn-normal" id="normal" value="2">显示危险商品</button>
						<button class="layui-btn" id="none" value="1">显示正常商品</button>
						<button class="layui-btn layui-btn-primary" id="primary" value="3">显示所有商品</button>
						<div class="layui-inline layui-show-xs-block" id="query"
							style="float: right">
							<button class="layui-btn" id="queryById" lay-submit=""
								lay-filter="sreach">
								<i class="layui-icon">&#xe615;</i>
							</button>
						</div>
						<div class="layui-inline layui-show-xs-block"
							style="float: right; margin-top: 7px;">
							<input type="text" name="username" placeholder="请输入商品名"
								autocomplete="off" class="layui-input" id="searchNameId">
						</div>
					</div>
					<div class="layui-card-body layui-table-body layui-table-main">
						<table class="layui-table layui-form">
							<thead>
								<tr>
									<th>商品名称</th>
									<th>商品类别</th>
									<th>规格型号</th>
									<th>当前库存</th>
									<th>存放库位</th>
									<th>警戒库存</th>
									<th>锁定库存</th>
									<th>库存状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tbodyId">
								<tr>
									<td colspan="10">数据正在加载中...</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="layui-card-body ">
						<div class="page">
							<div id="pageId">
								<ul class="pagination pagination-sm no-margin pull-right">
									<li><a class="first">首页</a></li>
									<li><a class="pre">上一页</a></li>
									<li><a class="next">下一页</a></li>
									<li><a class="last">尾页</a></li>
									<li><a class="rowCount">总记录数(0)</a></li>
									<li><a class="pageCount">总页数(0)</a></li>
									<li><a class="pageCurrent">当前页(1)</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	layui.use([ 'laydate', 'form' ], function() {
		var laydate = layui.laydate;
		var form = layui.form;
		// 监听全选
		form.on('checkbox(checkall)', function(data) {
			if (data.elem.checked) {
				$('tbody input').prop('checked', true);
			} else {
				$('tbody input').prop('checked', false);
			}
			form.render('checkbox');
		});
		//执行一个laydate实例
		laydate.render({
			elem : '#start' //指定元素
		});
		//执行一个laydate实例
		laydate.render({
			elem : '#end' //指定元素
		});
	});

	$(function() {
		doGetObjects();
		$("#pageId").on("click", ".first,.pre,.next,.last", doJumpToPage);
		$("#query").on("click", "#queryById", doQueryObjects);
		$("#header").on("click", "#normal,#danger,#none", doSwitchQuery);
		$("#header").on("click", "#primary", doSwitchState);
		$("#tbodyId").on("click", "#operator", doSwitch);
		
	})
	function doSwitch(){
		xadmin.open('采购申请表','./purchase-application-form.html',600,500);
	}
	function doSwitchState() {
		debugger
		var b = document.getElementById("primary");
		b.value=3;
		doGetObjects();
	}
	function doSwitchQuery() {
		debugger
		var a=$(this).val();
		var b = document.getElementById("primary");
		b.value=a;
		doGetObjects();
	}
	function doJumpToPage() {
		debugger
		//1.获取点击对象的class值
		var cls = $(this).prop("class");//Property
		//2.基于点击的对象执行pageCurrent值的修改
		//2.1获取pageCurrent,pageCount的当前值
		var pageCurrent = $("#pageId").data("pageCurrent");
		var pageCount = $("#pageId").data("pageCount");
		//2.2修改pageCurrent的值
		if (cls == "first") {//首页
			pageCurrent = 1;
		} else if (cls == "pre" && pageCurrent > 1) {//上一页
			pageCurrent--;
		} else if (cls == "next" && pageCurrent < pageCount) {//下一页
			pageCurrent++;
		} else if (cls == "last") {//最后一页
			pageCurrent = pageCount;
		} else {
			return;
		}
		//3.对pageCurrent值进行重新绑定
		$("#pageId").data("pageCurrent", pageCurrent);
		//4.基于新的pageCurrent的值进行当前页数据查询
		doGetObjects();
	}
	function doQueryObjects() {
		debugger
		//为什么要在此位置初始化pageCurrent的值为1?
		//数据查询时页码的初始位置也应该是第一页
		$("#pageId").data("pageCurrent", 1);
		//为什么要调用doGetObjects函数？
		//重用js代码，简化jS代码编写。
		doGetObjects();
	}
	function doGetObjects() {
		//debugger;//断点调试
		//1.定义url和参数
		debugger
		var url = "manage/itemStatu"
		var pageCurrent = $("#pageId").data("pageCurrent");
		//为什么要执行如下语句的判定，然后初始化pageCurrent的值为1
		//pageCurrent参数在没有赋值的情况下，默认初始值应该为1.
		if (!pageCurrent)
			pageCurrent = 1;
		var params = {
			"pageCurrent" : pageCurrent
		};
		var b = document.getElementById("primary");
		var state=b.value;
		params.state=state;
		//pageCurrent=2
		//为什么此位置要获取查询参数的值?
		//一种冗余的应用方法，目的时让此函数在查询时可以重用。
		var name = $("#searchNameId").val();
		//如下语句的含义是什么？动态在js对象中添加key/value,
		if (name)
			params.name = name;//查询时需要
		$.getJSON(url, params, function(result) {
			debugger
			//JsonResult->PageObject->List<SysLogs>+...
			//请问result是一个字符串还是json格式的js对象？对象
			doHandleResponseResult(result);
		});//特殊的ajax函数
	}
	function doHandleResponseResult(result) { //JsonResult
		debugger
		if (result.status == 200) {//ok
			//更新table中tbody内部的数据
			if(result.data.list.length==0){
				alert("没有符合条件的数据哦,回到初始页面咯");
				location.reload();
			}
		
			doSetTableBodyRows(result.data.list);//将数据呈现在页面上 
			//更新页面page.html分页数据
			doSetPagination(result.data); //此方法写到page.html中
		} else {
			alert("没有找到对应记录");
			var tBody = $("#tbodyId");
			tBody.empty();
			doSetPaginationS(result.data);
		}
	}
	function doSetPaginationS(page) {
		//1.初始化数据
		$(".rowCount").html("总记录数(" + page.rowCount + ")");
		$(".pageCount").html("总页数(" + page.pageCount + ")");
		$(".pageCurrent").html("当前页(" + page.pageCurrent + ")");
		//2.绑定数据(为后续对此数据的使用提供服务)
		$("#pageId").data("pageCurrent", page.pageNum);
		$("#pageId").data("pageCount", page.pages);
	}
	function doSetPagination(page) {
		//1.初始化数据
		$(".rowCount").html("总记录数(" + page.total + ")");
		$(".pageCount").html("总页数(" + page.pages + ")");
		$(".pageCurrent").html("当前页(" + page.pageNum + ")");
		//2.绑定数据(为后续对此数据的使用提供服务)
		$("#pageId").data("pageCurrent", page.pageNum);
		$("#pageId").data("pageCount", page.pages);
	}
	function doSetTableBodyRows(records) {
		//1.获取tbody对象，并清空对象
		var tBody = $("#tbodyId");
		tBody.empty();
		//2.迭代records记录，并将其内容追加到tbody
		for ( var i in records) {
			//2.1 构建tr对象
			var tr = $("<tr></tr>");
			//2.2 构建tds对象
			var tds = doCreateTds(records[i]);
			//2.3 将tds追加到tr中
			tr.append(tds);
			//2.4 将tr追加到tbody中
			tBody.append(tr);
		}
	}
	function doCreateTds(data) {
		var tds = "<td id='itemName'>"
				+ data.itemName
				+ "</td>"
				+ "<td id='itemState'>"
				+ data.itemState
				+ "</td>"
				+ "<td id='specifications'>"
				+ data.specifications
				+ "</td>"
				+ "<td id='tecDirection'>"
				+ data.itemNum
				+ "</td>"
				+ "<td id='stuNumber'>"
				+ data.saveWareLocation
				+ "</td>"
				+ "<td id='tecNumber'>"
				+ data.minItemNum
				+ "</td>"
				+ "<td id='lockCapacity'>"
				+ data.lockCapacity
				+ "</td>"
				+ "<td id='state' class='td-status'>"
				+ (data.state == 0 ? "<span class='layui-btn layui-btn-danger layui-btn-mini'>需要补货</span></td>"
						: (data.state == 1 ? "<span class='layui-btn layui-btn-mini'>正常</span></td>"
								: "<span class='layui-btn layui-btn-normal layui-btn-mini'>危险</span></td>"))
				+ "<td>"
				+"<button class='layui-btn layui-btn-danger layui-btn-update' id='operator'>"
				+"发布采购申请表</button>"
				+ "</td>";

		return tds;
	}
</script>
</html>